<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Court Case Annotator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Court Case Annotator</h1>
    <div>
        {% for annotator in count %}
            <p>{{ annotator[1] }} : {{ annotator[0] }}</p>
        {% endfor %}
    </div>

    <!-- Link to View Court Cases -->
    <br><br><a href="{{ url_for('view_cases') }}">View All Court Cases</a><br><br>

    <form method="POST" action="/">
        <label for="annotator_name">Annotator Name:</label>
        <select name="annotator_name" id="annotator_name" required>
            <option value="Nicholas Noly Dela Torre">Nicholas Noly Dela Torre</option>
            <option value="Jewell Anne Diamante">Jewell Anne Diamante</option>
            <option value="Jino Llamado">Jino Llamado</option>
            <option value="Miguel Tolentino">Miguel Tolentino</option>
        </select><br><br>

        <label for="court_case_link">Court Case Link:</label>
        <input type="url" id="court_case_link" name="court_case_link" required><br><br>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="court_case_text">Court Case Text:</label>
        <textarea id="court_case_text" name="court_case_text" rows="20" required></textarea><br><br>

        <label for="facts">Facts:</label>
        <textarea id="facts" name="facts" rows="20" required></textarea><br><br>

        <label for="issues">Issues:</label>
        <textarea id="issues" name="issues" rows="20" required></textarea><br><br>

        <label for="rulings">Rulings:</label>
        <textarea id="rulings" name="rulings" rows="20" required></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
</body>

</html>